<!DOCTYPE html>
<html>
<head>
  <title>Student Dormitory Heidelberg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- <link rel="stylesheet" type="text/css" href="dummy.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
   

<style>
  body{
    /*background : url(https://images.unsplash.com/photo-1488171449184-94ca5157c964?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) ;*/
    /*color: white;*/
    min-height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  html{
    height: 100%;
  }
  #contents{
    text-align: center;
    color: white;
    padding-top: 10%;
  }
  h1{
    font-weight: 700;
    font-size: 3em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 10px 23px rgba(0,0,0,0.4)

  }
  hr{
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
</style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a a href="" class="navbar-brand"><i class="fas fa-building mr-2"></i> S.D.H</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Project1.html">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
       <li class="nav-item active">
        <a class="nav-link" href="/register">Sign Up <i class="fas fa-user-plus"></i></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login <i class="fas fa-user"></i></a>
      </li>
    </ul>
  </nav>

